{{#block "vendor_css"}}
{{/block}}

{{#block "vendor_js"}}
<!--加modal模板-->
<script type="text/html" id='create-tpl'>
  <div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="createLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times;</button>
        <h4 class="modal-title" id="createLabel">添加活动</h4>
      </div>
      <form id='activity-form'>
        <div class="modal-body">
          <div class="form-group">
            <label>名称</label>
            <input type="text" name='name' placeholder="请输入名称" class="form-control" required autocomplete="off">
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-green" name='submitBtn'>生成活动</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </form>
    </div>
  </div>
</script>
{{/block}}

<div class="content-heading">
  <div class="pull-right">
    {{#if _DATA_.menuConfig}}
      <button type="button" class='btn btn-primary btn-sm' name='updateMenuBtn' data-js-comp='component/activity/create'>更新自定义菜单</button>
      <button type="button" class='btn btn-danger btn-sm' name='closeMenuBtn' data-js-comp='component/activity/create'>关闭自定义菜单</button>
    {{else}}
      <button type="button" class='btn btn-primary btn-sm' name='updateMenuBtn' data-js-comp='component/activity/create'>开启自定义菜单</button>
    {{/if}}
  </div>
  <ol class="breadcrumb">
    <li>
      <span>管理</span>
    </li>
    <li class="active">
      <span>自定义菜单管理</span>
    </li>
  </ol>
</div>

<input type="hidden" data-js-comp="component/menu/index">
<input type="hidden" data-js-comp="component/common/selectric">

<div class="row">
  <div class="col-md-5">
    <div class="panel panel-inverse panel-wechat-menu-preview pv-lg bg-inverse mb0">
      <div class="panel-body">
        <ul class="pre_menu_list" id="menuList"></ul>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        按钮配置
      </div>
      <div class="panel-body" id="menu-config-area">
        <p class="text-muted text-center">请新建或选择按钮</p>
      </div>
    </div>
  </div>
</div>
