<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<title>
  {{#if _TITLE_}}
    {{_TITLE_}}
  {{else}}
    {{#if _SUB_TITLE_}} {{_SUB_TITLE_}} | {{/if}}BombLab
  {{/if}}
</title>

{{{inject "vendor_css"}}}