{{#block "vendor_css"}}
{{/block}}

{{#block "vendor_js"}}
<script src="/vendor/echarts/dist/echarts.min.js"></script>
{{/block}}

<div class="content-heading">
  <ol class="breadcrumb">
    <li>
      <span>概览</span>
    </li>
    <li class="active">
      <span>控制台</span>
    </li>
  </ol>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="lead bb pb-sm mb-sm">
          关注人数统计
        </p>
      </div>
      <div class="panel-body pt0">
        <div id="user-chart" style="width: 100%; height:500px;" data-js-comp="component/dashboard/subscribe"></div>
      </div>
    </div>
  </div>
</div>